.iframe-container {
  overflow: hidden;
  /* padding-top: 110%; */
  padding-top: 97.5vh;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
// _about
.site-about{
  &-header{
    padding-top: 80px;
    background-color: $gray;
    @include mobile{
      padding-top: 0;
      padding-bottom: 30px;
      text-align: center;
    }
  }
}
// _project
.site-project {
  &-header{
    padding: 170px 0 100px;
    background: $gray;
    @include tablet{
      padding: 80px 0 80px;
    }
  }
  &-single{
    &-section{
      padding: 100px 0 100px;
      @include tablet{
        padding: 100px 0;
      }
    }
  }
}
// _hero
.site-hero{
  &-content{
    h1{
      color: white;
    }
  }
  .site-hero-scroll.scroll-to img {
    width: 44px;
  }
}
// _footer
.site-footer{
  .site-footer-widget-top img {
    width: 44px;
  }
  .site-footer-logo img {
    max-width: 100px;
  }
  a.btn {
    max-width: 166px;
    @include mobile{
      max-width: 100%;
      margin: 0 15px;
    }
  }
}
/* Text meant only for screen readers */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
// _navigation
.site-navigation{
  padding: 20px 0;
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  @include desktop{
    background: $white;
    position: static;
    margin: 0;
    border-radius: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
  @include mobile{
    padding: 15px;
  }
  .navbar-brand img {
    max-width: 100px;
  }
  li.nav-item:last-child {
    @include mobile{
      margin-left: 0px;
    }
  }
}